body {
  background-color: #4caf50;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #1b1b1b;
  padding-top: 10px;
}

header {
  padding: 10px; 
  position: fixed; 
  top: 0; 
  left: 0; 
}

button {
  background-color: #ffffff; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 8px 16px; /* Espaçamento interno do botão */
  border: none; /* Remover borda */
  border-radius: 4px; /* Arredondar cantos do botão */
  cursor: pointer; /* Cursor ao passar sobre o botão */
  font-size: 14px;
  margin-left: 5px;
}

/* Estilo do botão ao passar o mouse */
button:hover {
  background-color: #8d8d8d; /* Mudar cor de fundo ao passar o mouse */
}
