html {
  background-color: #e8eaee;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para o título */
h1 {
  color: #1b1b1b;
  padding-top: 10px;
}

/* Estilos para os botões */
button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
  margin-bottom: 10px; 
  border-color: #1b1b1b;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button:active {
  animation: clickAnimation 0.3s ease;
}
.nao {
  
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s; /* Adiciona transição para transform e box-shadow */
  margin-bottom: 10px; /* Adiciona margem abaixo do botão "sim" */
  text-decoration: none; /* Remove a sublinhado padrão do link */
  border-color: #1b1b1b;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombreamento */
}


/* Classe para o botão "fugindo" */
.buttonFugindo {
  transform: translate(100px, -50px);
}
.nao {
  background-color: red  ;

}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}