html {
  background-color: #e8eaee;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 20px; 
}

h1 {
  color: #1b1b1b;
  text-align: center;
  margin-top: 20vh;
  font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinha os botões ao centro */
  align-items: center;
  margin-top: 20px; /* Espaçamento acima dos botões */
}

a {
  display: inline-flex; /* Altera para inline-flex para centralizar conteúdo */
  justify-content: center; /* Centraliza o texto no botão */
  align-items: center; /* Centraliza verticalmente o texto */
  width: 200px; /* Largura fixa para todos os botões */
  height: 50px; /* Altura fixa para todos os botões */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; /* Espaçamento entre os botões */
  text-align: center;
  transition: background-color 0.3s; /* Transição suave para mudança de cor */
}

.botao1 {
  background-color: #4CAF50; /* Verde */
}

.botao2 {
  background-color: #FF5722; /* Laranja */
}

.botao3 {
  background-color: #2196F3; /* Azul */
}

.botao4 {
  background-color: #FFC107; /* Amarelo */
}

a:hover {
  opacity: 0.9; /* Levemente mais escuro ao passar o mouse */
}

@media (min-width: 768px) {
  h1 {
    font-size: 80px; /* Aumenta o tamanho do título em telas maiores */
  }
  a {
    width: 200px; /* Largura fixa para dispositivos maiores */
    height: 50px; /* Mantém a altura dos botões */
    font-size: 24px; /* Aumenta a fonte dos botões em telas maiores */
  }
}