/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 120px;
  font-size: 32px;
  color: #494949;
  text-align: center;
}

/* Estilização da Container Principal */
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#question {
  margin-top: 20px;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

#buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#streak-info {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #4caf50;
  text-align: center;
}

/* Estilização de Botões */
button {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.voltar {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #4caf50;
}

/* Botões Personalizados */
.botao1 {
  background-color: #4caf50;
}

.botao1:hover {
  background-color: #388e3c;
}

.botao2 {
  background-color: #dc133c;
}

.botao2:hover {
  background-color: #a50024;
}

.botao3 {
  background-color: #ffc107;
}

.botao3:hover {
  background-color: #ff8f00;
}

.botao4 {
  background-color: #e91e63;
}

.botao4:hover {
  background-color: #d81b60;
}

.botao5 {
  background-color: #f44336;
}

.botao5:hover {
  background-color: #d32f2f;
}

.botao6 {
  background-color: #9c27b0;
}

.botao6:hover {
  background-color: #7b1fa2;
}

.botao7 {
  background-color: #00bcd4;
}

.botao7:hover {
  background-color: #0097a7;
}

/* Responsividade */
@media (min-width: 768px) {
  h1 {
    font-size: 22px;
  }

  button {
    font-size: 18px;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
