html {
  background-color: #e8eaee;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 20px; /* Adiciona espaçamento interno para evitar que o conteúdo fique muito próximo das bordas */
}

h1 {
  color: #1b1b1b;
  padding-top: 10px;
  text-align: center;
  margin-top: 20vh;
  font-size: 32px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

a {
  display: inline-block;
  width: 150px; /* Largura fixa para todos os links */
  padding: 10px 20px;
 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  a {
    width: auto;
  }
  a {
    display: inline-block;
    width: 204px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    text-align: center;
  }


}

.botao1 {
  background-color: #4CAF50; /* Verde */
}

.botao2 {
  background-color: #FF5722; /* Laranja */
}

.botao3 {
  background-color: #2196F3; /* Azul */
}

.botao4 {
  background-color: #FFC107; /* Amarelo */
}

.botao5 {
  background-color: #9C27B0; /* Roxo */
}

