html {
  background-color: #161618;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Estilos do botão "Voltar" */
button {
  background-color: #ffffff; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 8px 16px; /* Espaçamento interno do botão */
  border: none; /* Remover borda */
  border-radius: 4px; /* Arredondar cantos do botão */
  cursor: pointer; /* Cursor ao passar sobre o botão */
  font-size: 14px;
  margin-left: 5px;
}

/* Estilo do botão ao passar o mouse */
button:hover {
  background-color: #8d8d8d; /* Mudar cor de fundo ao passar o mouse */
}

h2 {
  color: rgb(255, 255, 255);
  height: 60vh;
  font-size: 40px;
}

@keyframes girarTerra {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes girarLua {
  0% {
    transform: rotate(0deg) translateX(180px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(180px) rotate(-360deg);
  }
}

.terra {
  color: #19b33a;
  padding-top: 10px;
  animation: girarTerra 10s linear infinite; /* A Terra gira em torno de si mesma */
  margin-bottom: 20px;
}

.lua {
  color: aliceblue;
  font-size: 64px; /* Tamanho menor para representar a lua */
  animation: girarLua 1s linear infinite; /* A Lua gira em torno da Terra */
  display: inline-block;
}

.stars {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: twinkling 10s infinite;
}

@keyframes twinkling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
