html {
  background-color: #2b2d31;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

/* Estilos para o título */
@keyframes mudarCor {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

h1 {
  color: #1b1b1b;
  padding-top: 10px;
  animation: mudarCor 10s linear infinite;
}
