html {
  background-color: #e8eaee;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #1b1b1b;
  margin-top: 5vh;
  font-size: 48px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1vh;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

.botao1,
.botao2,
.botao3 {
  flex: 1 1 30%; 
  max-width: 250px; 
}

.botao4,
.botao5 {
  flex: 1 1 45%; 
  max-width: 250px; 
  justify-content: center;
}


a:hover {
  transform: scale(1.05);
}

.botao1 {
  background-color: #4caf50; 
}

.botao1:hover {
  background-color: #388e3c; /* Verde mais escuro */
}

.botao2 {
  background-color: #dc133c; 
}

.botao2:hover {
  background-color: #a50024; /* Vermelho mais escuro */
}

.botao5 {
  background-color: #2196f3; 
}

.botao5:hover {
  background-color: #1976d2; /* Azul mais escuro */
}

.botao4 {
  background-color: #ffc107; 
}

.botao4:hover {
  background-color: #ff8f00; /* Amarelo mais escuro */
}

.botao3 {
  background-color: #9c27b0; 
}

.botao3:hover {
  background-color: #7b1fa2; /* Roxo mais escuro */
}


@media (min-width: 768px) {
  a {
    width: 300px;
    height: 180px;
    font-size: 28px;
  }

  h1 {
    font-size: 48px;
  }
}
